In [1]:
print("hello world")

hello world

# Variable = 
            It is used to store values
            Variable is a container where we can store values
            Variable is the sort name of any values



# Types of Variable 
### There are two types of variable

### 1. Local variable (or) Single variable
x = 10
y = 20

### 2. Global variable or multiple variable
### x,y,z = 10,20,30

# Limitation of variable:-
'''
1. It always starts with the alphabet.
2. Do not start with the number.
3. You can't enter any special character in the variable.
4. Variable can be alphanumerical.
5. In variable we can use underscore ( _ ).
6. Variable is case-sensitive.
'''

In [2]:
x = 1000
y = 500
z = x+y

In [3]:
print(z)

1500

In [4]:
x = "data Science"

In [5]:
print(x)

data Science

In [6]:
x = 10
y = 20
z = x + y
print("Addition = ",z)

Addition =  30

## Indentation Error :- 
                      It is a extra space starting of code


## Comments :- 
                It is a statement that we want to show but don't want to execute it is called comments.
### There are two types of comments.
### 1. Single line comment (#)
     # x = 10

### 2. Multi line comments ('''    ''')
'''
    x = 10
    y = 20
    z = x + y
'''

In [7]:
num = 100
val = "Hundered :"

In [8]:
print(val , num)

Hundered : 100

In [9]:
x = 10 
y = 20

In [10]:
add = x + y
sub = x - y

In [11]:
print("Addition :- ",add)

Addition :-  30

In [12]:
print("substraction :-",sub)

substraction :- -10

In [13]:
age = 24

In [14]:
print("The age of Prince is :-",age)

The age of Prince is :- 24

# Python Data Type

### Data Types
1. Numerical data :- [ Integer, Float, Complex]
2. Text data      :- [String (str)]
3. Sequence data  :- [list, tuple, range()]
4. Mapping data   :- [Dictionary]
5. Set data       :- [set]
6. Boolean data   :- [True, False]
7. None           :- none

### 1. Numerical data

1. Integer :- int :- It is whole no. or without decimal no. 
                   ---- Ex :- 45,100
2. Float  :- float :- It is decimal no.
                   ----- Ex :- 12.3333
3. Complex :- complex :- It is no. that end of concatenate with j
                   ----- Ex :- 21j

### 2. Text 

1. String :- str :- It is always written in single or dual qutation
                   -----Ex:- "abc" , "123"

### 3. Sequence 

1. list :- list are written in square brackets[]
2. tuple :- tuple are written in round brackets()
3. range() :- it is used 5tol print sequence no. its works with loop

### 4. Mapping

1. Dictionary :- dict() :- it is written in curly brackets{} and here values written in key and value of pair
----- Ex :- {"prince":45,"city":"patna"}

### 5. Set 

1. Set :- set :- it is written in curly bracket{}
             ----- Ex : {5,5,8,6,2}

### 6. Boolean 

1. True  : 1 
2. False : 0


### 7. None

it is without char. or no. or I can say that it is blank value